body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    text-align: center;
}

header {
    background-color:hotpink;
    padding: 20px;
}

nav {
    background-color: lightpink;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


main {
    width: 450px;
    margin: 20px auto; 
    padding: 15px;
    background-color: #fff;
}

main img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

form input, form textarea {
    display: block;
    width: 80%;
    padding: 8px;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: hotpink;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: lightpink;
}

footer {
    background-color: hotpink;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
}


